.container {
  border: 2px solid rgb(20, 20, 20);
  border-radius: 3px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  margin: auto;
  padding: 5px;
  background-color: rgb(247, 247, 255);
}

#result {
  background-color: #e0dadae0;
  margin-bottom: 10px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}


