.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

header {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

header h1 {
  text-transform: uppercase;
  color: steelblue;
  font-weight: 400;
  letter-spacing: 5px;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vh;
}

.time-wrapper {
  background-color: #fafafa;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 3px 6px #888888;
}

.time-wrapper h2 {
  text-align: right;
  font-size: 2rem;
  text-transform: uppercase;
  color: #7a7a7a;
}

.time-wrapper h3 {
  text-align: center;
  font-size: 7rem;
  color: steelblue;
  font-weight: 400;
}

.controls-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.controls-wrapper button {
  font-size: 3rem;
  display: block;
  border-radius: 1rem;
  background-color: #7a7a7a;
  margin-right: 1rem;
  color: #000;
}

.timeset-wrapper {
  margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.timeset-wrapper .control {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeset-wrapper .control h2 {
  font-weight: 400;
  font-size: 3rem;
  color: #000;
  margin-bottom: 1rem;
}

.timeset-wrapper .control h3 {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  color: #7a7a7a;
}

.timeset-wrapper .controls-wrapper button {
  border: 1px solid #7a7a7a;
  background-color: #000;
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
  }
}
