body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fbfafc;
  font-family: "Brandon Grotesque";
}
.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
.user-info {
  background: #fff;
  border-radius: 40px;
  font-size: 1.2rem;
  margin: 20px 100px;
}
.buttonfetch {
  background: rgb(231, 206, 60);
  border: 1.2px solid #141414;
  padding: 5px 25px;
  border-radius: 5px;
  
  margin-top: 20px;
  font-size: 1.2rem;
}
.buttonback{
  width: 60%;
  background-color: cadetblue;
  border: 1px solid cadetblue;
  padding: 5px;
  color: white;
  border-radius: 5px;
  margin-bottom: 50px;
}
.avatar {
  padding-top: 20px;
}
img{
  border-radius: 10px;
  width: 450px;
}
.content {
  line-height: 2rem;
  text-align: left;
  margin: 0 150px;
}
input{
  width: 40%;
}